@import url(http://fonts.googleapis.com/css?family=Coustard|Open+Sans);
/*/ bower:less
@import "../libs/sfloo/dist/less/sfloo.less";
// endbower*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ns-input {
  background-color: #FFFFFF;
  background-image: none;
  border: none;
  box-shadow: none;
}
.ns-input:focus {
  border-color: none;
  box-shadow: none;
  outline: 0 none;
}
.ns-back {
  background: none !important;
}
.text-white {
  color: #fff;
}
.ns-bold {
  font-weight: normal;
}
.ns-list li {
  list-style: none;
}
.ns-border {
  border: none;
}
.navbar {
  background-color: #242a30;
  display: block;
  overflow: auto;
  z-index: 999;
  width: 100%;
  position: absolute;
}
.navbar.fixed {
  position: fixed;
}
.navbar .navbar-form {
  padding-left: 25px;
  padding-top: 0;
  padding-bottom: 0;
  display: inline-block;
  margin: 0;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbar .navbar-form.navbar-right {
  float: right;
  padding-right: 25px;
}
.navbar .navbar-form input {
  display: inline-block;
  text-decoration: none;
  padding: 6px 12px;
  font-size: 14px;
  cursor: auto;
  vertical-align: middle;
}
.navbar .navbar-form input.form-slideLeft {
  width: 0;
  opacity: 0;
}
.navbar .navbar-form input.form-slideLeft.active {
  width: 150px;
  opacity: 1;
}
.navbar .navbar-form button {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  vertical-align: middle;
}
.navbar .navbar-form button.show-animate {
  display: inline-block;
}
.navbar ul {
  padding-top: 0;
  padding-bottom: 0;
  display: inline-block;
  margin: 0px;
  float: left;
  padding-left: 0;
}
.navbar ul.navbar-right {
  float: right;
  padding-right: 25px;
}
.navbar ul:after,
.navbar ul:before {
  clear: both;
}
.navbar ul li {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  margin: 0;
  line-height: 50px;
  font-size: 14px;
  cursor: pointer;
  color: #777777;
}
.navbar ul li:hover a {
  color: #ffffff;
}
.navbar ul li.slide-nav {
  display: none;
}
.navbar ul li.slide-nav i {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.navbar ul li.active {
  background-color: #2d353c;
}
.navbar ul li.active a {
  color: #ffffff;
}
.navbar ul li.active a::before,
.navbar ul li.active a::after,
.navbar ul li.active a::before,
.navbar ul li.active a::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}
.navbar ul li.button {
  display: none;
}
.navbar ul li.navbar-user img {
  width: 25px;
  height: 25px;
  margin: -5px 10px 0 0;
  vertical-align: middle;
  border: 0;
}
.navbar ul li a {
  text-decoration: none;
  color: #777777;
  padding: 0px 15px;
  line-height: 50px;
  display: block;
}
.navbar ul li a::before,
.navbar ul li a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: transform 0.3s, opacity 0.2s;
  -moz-transition: transform 0.3s, opacity 0.2s;
  -ms-transition: transform 0.3s, opacity 0.2s;
  -o-transition: transform 0.3s, opacity 0.2s;
}
.navbar ul li a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
}
.navbar ul li a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  -o-transform: translateX(-20px);
}
.navbar ul li a:hover::before,
.navbar ul li a:hover::after,
.navbar ul li a:focus::before,
.navbar ul li a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}
.navbar ul li.header {
  width: 240px;
  background-color: #1166ab;
}
.navbar ul li.header a {
  color: #ffffff;
  font-size: 1.2em;
}
.navbar ul li.header a:hover::before,
.navbar ul li.header a:hover::after,
.navbar ul li.header a:focus::before,
.navbar ul li.header a:focus::after {
  opacity: 0;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}
@media screen and (max-width: 480px) {
  .navbar ul {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar ul.navbar-right {
    padding-right: 0;
  }
  .navbar ul.navbar-right li.slide-nav i {
    float: right;
  }
  .navbar ul li {
    display: none;
    width: 100%;
  }
  .navbar ul li.header {
    display: block;
  }
  .navbar ul li.slide-nav {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    padding: 5px;
  }
  .navbar ul li.slide-nav i {
    line-height: 2em;
    font-size: 1.5em;
  }
  .navbar .navbar-form {
    display: none;
  }
  .navbar .navbar-form input {
    display: none;
    width: 100%;
  }
  .sidebar {
    width: 50px !important;
  }
  .sidebar span {
    display: none;
  }
  .sidebar.responsive-hidden {
    margin-left: -50px;
  }
  .wrap-body {
    padding-left: 50px !important;
  }
  .slide-sidenav {
    display: block !important;
  }
}
.wrap-body.responsive-hidden {
  padding-left: 0px !important;
  -webkit-transition: padding-left 0.4s ease-in-out;
  -moz-transition: padding-left 0.4s ease-in-out;
  -ms-transition: padding-left 0.4s ease-in-out;
  -o-transition: padding-left 0.4s ease-in-out;
}
.sidebar.responsive-hidden {
  margin-left: -240px;
}
.slide-sidenav {
  z-index: 999;
  font-size: 2.5em;
  position: fixed;
  padding: 5px 15px;
  top: -5px;
  color: #e3e3e3;
}
.sidebar {
  background-color: #242a30;
  position: fixed;
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 250;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.sidebar:hover h3,
.sidebar:hover a {
  opacity: 1;
}
.sidebar h3 {
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  color: #ffffff;
}
.sidebar a {
  display: block;
  color: #777777;
  font-size: 1em;
  font-weight: 300;
  padding: 0.5em 0.5em 0.5em 1em;
  text-decoration: none;
}
.sidebar a:hover {
  color: #ffffff;
  background-color: #2d353c;
  border-right: 4px solid #1166ab;
}
.sidebar a.active {
  color: #ffffff;
  background-color: #1a65aa;
  border-right: 4px solid #1166ab;
}
.sidebar a i {
  margin-right: 10px;
  width: 18px;
}
.wrap-body {
  padding-left: 240px;
  width: 100%;
}
.fill-vertical {
  position: absolute;
}
.fill-vertical:after {
  position: absolute;
  width: 100%;
  height: 100%;
}
.progress-fill {
  -webkit-appearance: normal;
  -moz-appearance: normal;
  appearance: normal;
  box-shadow: none;
  -webkit-border-radius: 0.2857rem;
  -moz-border-radius: 0.2857rem;
  border-radius: 0.2857rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0.8em 1.8em;
  min-height: 1em;
  border: none;
  color: rgba(0, 0, 0, 0.8);
  background-color: #339af0;
  position: absolute;
}
.progress-fill.text-white {
  color: #fff;
}
.progress-fill.transition {
  -webkit-transition: background-color 0.3 linear;
  -moz-transition: background-color 0.3 linear;
  -ms-transition: background-color 0.3 linear;
  -o-transition: background-color 0.3 linear;
}
.progress-fill.states:hover,
.progress-fill.states.active,
.progress-fill.states:active {
  background-color: #2986ed;
}
.progress-fill.states:disabled,
.progress-fill.states.disabled {
  background-color: #44bcf5;
}
.progress-fill:after {
  position: absolute;
  width: 100%;
  height: 100%;
}
.radius-bt {
  -webkit-border-radius: 0.2857rem;
  -moz-border-radius: 0.2857rem;
  border-radius: 0.2857rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.min-height {
  min-height: 1em;
}
.padding-bt {
  padding: 0.8em 1.8em;
}
.margin-bt {
  margin: 0;
}
.display-inline-block {
  display: inline-block;
}
.no-box-shadow {
  box-shadow: none;
}
.cursor-pointer {
  cursor: pointer;
}
.no-border {
  border: none;
}
.bold {
  font-weight: bold;
}
.transition-ease {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.bt {
  -webkit-appearance: normal;
  -moz-appearance: normal;
  appearance: normal;
  box-shadow: none;
  -webkit-border-radius: 0.2857rem;
  -moz-border-radius: 0.2857rem;
  border-radius: 0.2857rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0.8em 1.8em;
  min-height: 1em;
  border: none;
  color: rgba(0, 0, 0, 0.8);
}
.bt.text-white {
  color: #fff;
}
.material {
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  -ms-transition: box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
}
.material.states:hover,
.material.states.active,
.material.states:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset, 0 2px 3px 0 rgba(0, 0, 0, 0.35) !important;
}
.material.states:disabled,
.material.states.disabled {
  background-color: rbga(0, 0, 0, 0.2);
}
.level {
  padding-bottom: 1.1em;
  position: relative;
  box-shadow: 0 0 0 1px transparent inset, 0 -0.4em 0 0 rgba(39, 41, 43, 0.15) inset;
}
.level:active {
  top: 0.3em;
  box-shadow: inset 0 1px 0 rgba(39, 41, 43, 0.15), inset 0 -0.1em 0 rgba(39, 41, 43, 0.15);
}
.rounded {
  padding: 1.05em 3em;
  -webkit-border-radius: 300rem;
  -moz-border-radius: 300rem;
  border-radius: 300rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0.3);
}
.rounded.states:hover,
.rounded.states.active,
.rounded.states:active {
  background-color: rgba(0, 0, 0, 0.05);
  border: 2px solid rgba(0, 0, 0, 0.4);
}
.rounded.states:disabled,
.rounded.states.disabled {
  opacity: 0.4;
}
.border {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.my-hexagon {
  position: relative;
  width: 25px;
  height: 12.5px;
  display: inline-block;
  background-color: #2fa2ff;
  text-align: center;
  cursor: pointer;
  line-height: 12.5px;
}
.my-hexagon:before,
.my-hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  border-left: 12.5px solid transparent;
  border-right: 12.5px solid transparent;
}
.my-hexagon:before {
  bottom: 100%;
  border-bottom: 6.25px solid #2fa2ff;
}
.my-hexagon:after {
  top: 100%;
  width: 0;
  border-top: 6.25px solid #2fa2ff;
}
.my-hexagon.states:hover,
.my-hexagon.states:active,
.my-hexagon.states.active {
  background-color: #268fff;
}
.my-hexagon.states:hover:after,
.my-hexagon.states:active:after,
.my-hexagon.states.active:after,
.my-hexagon.states:hover:before,
.my-hexagon.states:active:before,
.my-hexagon.states.active:before {
  border-bottom-color: #268fff;
  border-top-color: #268fff;
}
.my-hexagon.states:disabled,
.my-hexagon.states.disabled {
  background-color: #38b5ff;
}
.my-hexagon.states:disabled:after,
.my-hexagon.states.disabled:after,
.my-hexagon.states:disabled:before,
.my-hexagon.states.disabled:before {
  border-bottom-color: #38b5ff;
  border-top-color: #38b5ff;
}
.mybuttonMaterial {
  -webkit-appearance: normal;
  -moz-appearance: normal;
  appearance: normal;
  box-shadow: none;
  -webkit-border-radius: 0.2857rem;
  -moz-border-radius: 0.2857rem;
  border-radius: 0.2857rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0.8em 1.8em;
  min-height: 1em;
  border: none;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  -ms-transition: box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  background-color: #1a65aa;
  color: #fff;
}
.mybuttonMaterial.text-white {
  color: #fff;
}
.mybuttonMaterial.states:hover,
.mybuttonMaterial.states.active,
.mybuttonMaterial.states:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset, 0 2px 3px 0 rgba(0, 0, 0, 0.35) !important;
}
.mybuttonMaterial.states:disabled,
.mybuttonMaterial.states.disabled {
  background-color: rbga(0, 0, 0, 0.2);
}
.mybuttonMaterial.transition {
  -webkit-transition: background-color 0.3 linear;
  -moz-transition: background-color 0.3 linear;
  -ms-transition: background-color 0.3 linear;
  -o-transition: background-color 0.3 linear;
}
.mybuttonMaterial.states:hover,
.mybuttonMaterial.states.active,
.mybuttonMaterial.states:active {
  background-color: #155199;
}
.mybuttonMaterial.states:disabled,
.mybuttonMaterial.states.disabled {
  background-color: #2387c6;
}
.mybuttonMaterial:hover,
.mybuttonMaterial.active,
.mybuttonMaterial:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset, 0 2px 3px 0 rgba(0, 0, 0, 0.35) !important;
}
.mybuttonMaterial:disabled,
.mybuttonMaterial.disabled {
  background-color: rbga(0, 0, 0, 0.2);
}
.mybuttonMaterial:hover,
.mybuttonMaterial.active,
.mybuttonMaterial:active {
  background-color: #155199;
}
.mybuttonMaterial:disabled,
.mybuttonMaterial.disabled {
  background-color: #2387c6;
}
.my-button-circle {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 25px;
  background-color: #e12629;
}
.my-button-circle.transition {
  -webkit-transition: background-color 0.3 linear;
  -moz-transition: background-color 0.3 linear;
  -ms-transition: background-color 0.3 linear;
  -o-transition: background-color 0.3 linear;
}
.my-button-circle.states:hover,
.my-button-circle.states.active,
.my-button-circle.states:active {
  background-color: #db1e21;
}
.my-button-circle.states:disabled,
.my-button-circle.states.disabled {
  background-color: #eb3337;
}
.text-white {
  color: #ffffff;
}
.bgColor-primary {
  background-color: #339af0;
}
.bgColor-primary.transition {
  -webkit-transition: background-color 0.3 linear;
  -moz-transition: background-color 0.3 linear;
  -ms-transition: background-color 0.3 linear;
  -o-transition: background-color 0.3 linear;
}
.bgColor-primary.states:hover,
.bgColor-primary.states.active,
.bgColor-primary.states:active {
  background-color: #2986ed;
}
.bgColor-primary.states:disabled,
.bgColor-primary.states.disabled {
  background-color: #44bcf5;
}
.bgColor-error {
  background-color: #e12629;
}
.bgColor-error.transition {
  -webkit-transition: background-color 0.3 linear;
  -moz-transition: background-color 0.3 linear;
  -ms-transition: background-color 0.3 linear;
  -o-transition: background-color 0.3 linear;
}
.bgColor-error.states:hover,
.bgColor-error.states.active,
.bgColor-error.states:active {
  background-color: #db1e21;
}
.bgColor-error.states:disabled,
.bgColor-error.states.disabled {
  background-color: #eb3337;
}
.module {
  text-align: center;
  outline: 1px solid #f1f1f1;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.fullBackground {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.form .inline label,
.form .inline input,
.form .inline span,
.form .inline textarea {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}
.form .inline label {
  margin-top: 10px;
  font-weight: bold;
}
.form .inline label.left {
  text-align: left;
}
.form .inline label.right {
  text-align: right;
}
.flex {
  display: flex;
}
.row:after,
.row:before {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.col-1 {
  float: left;
  word-wrap: break-word;
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 8.33333333%;
}
.offset-1 {
  margin-left: 8.33333333% !important;
}
.col-2 {
  float: left;
  word-wrap: break-word;
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 16.66666667%;
}
.offset-2 {
  margin-left: 16.66666667% !important;
}
.col-3 {
  float: left;
  word-wrap: break-word;
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.offset-3 {
  margin-left: 25% !important;
}
.col-4 {
  float: left;
  word-wrap: break-word;
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 33.33333333%;
}
.offset-4 {
  margin-left: 33.33333333% !important;
}
.col-5 {
  float: left;
  word-wrap: break-word;
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 41.66666667%;
}
.offset-5 {
  margin-left: 41.66666667% !important;
}
.col-6 {
  float: left;
  word-wrap: break-word;
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.offset-6 {
  margin-left: 50% !important;
}
.col-7 {
  float: left;
  word-wrap: break-word;
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 58.33333333%;
}
.offset-7 {
  margin-left: 58.33333333% !important;
}
.col-8 {
  float: left;
  word-wrap: break-word;
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 66.66666667%;
}
.offset-8 {
  margin-left: 66.66666667% !important;
}
.col-9 {
  float: left;
  word-wrap: break-word;
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.offset-9 {
  margin-left: 75% !important;
}
.col-10 {
  float: left;
  word-wrap: break-word;
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 83.33333333%;
}
.offset-10 {
  margin-left: 83.33333333% !important;
}
.col-11 {
  float: left;
  word-wrap: break-word;
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 91.66666667%;
}
.offset-11 {
  margin-left: 91.66666667% !important;
}
@media screen and (max-width: 768px) {
  .col-1 {
    float: left;
    word-wrap: break-word;
    min-height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 16.66666667%;
  }
  .offset-1 {
    margin-left: 16.66666667% !important;
  }
  .col-2 {
    float: left;
    word-wrap: break-word;
    min-height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 33.33333333%;
  }
  .offset-2 {
    margin-left: 33.33333333% !important;
  }
  .col-3 {
    float: left;
    word-wrap: break-word;
    min-height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .offset-3 {
    margin-left: 50% !important;
  }
  .col-4 {
    float: left;
    word-wrap: break-word;
    min-height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 66.66666667%;
  }
  .offset-4 {
    margin-left: 66.66666667% !important;
  }
  .col-5 {
    float: left;
    word-wrap: break-word;
    min-height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 83.33333333%;
  }
  .offset-5 {
    margin-left: 83.33333333% !important;
  }
  .col-7 {
    float: left;
    word-wrap: break-word;
    min-height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .offset-7 {
    margin-left: 100% !important;
  }
  .col-8 {
    float: left;
    word-wrap: break-word;
    min-height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .offset-8 {
    margin-left: 100% !important;
  }
  .col-9 {
    float: left;
    word-wrap: break-word;
    min-height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .offset-9 {
    margin-left: 100% !important;
  }
  .col-10 {
    float: left;
    word-wrap: break-word;
    min-height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .offset-10 {
    margin-left: 100% !important;
  }
  .col-11 {
    float: left;
    word-wrap: break-word;
    min-height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .offset-11 {
    margin-left: 100% !important;
  }
}
@media screen and (max-width: 480px) {
  .col-1 {
    float: left;
    word-wrap: break-word;
    min-height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .offset-1 {
    margin-left: 50% !important;
  }
  .col-3 {
    float: left;
    word-wrap: break-word;
    min-height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .offset-3 {
    margin-left: 100% !important;
  }
  .col-4 {
    float: left;
    word-wrap: break-word;
    min-height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .offset-4 {
    margin-left: 100% !important;
  }
  .col-5 {
    float: left;
    word-wrap: break-word;
    min-height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .offset-5 {
    margin-left: 100% !important;
  }
  .col-6 {
    float: left;
    word-wrap: break-word;
    min-height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .offset-6 {
    margin-left: 100% !important;
  }
  .col-7 {
    float: left;
    word-wrap: break-word;
    min-height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .offset-7 {
    margin-left: 100% !important;
  }
  .col-8 {
    float: left;
    word-wrap: break-word;
    min-height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .offset-8 {
    margin-left: 100% !important;
  }
  .col-9 {
    float: left;
    word-wrap: break-word;
    min-height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .offset-9 {
    margin-left: 100% !important;
  }
  .col-10 {
    float: left;
    word-wrap: break-word;
    min-height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .offset-10 {
    margin-left: 100% !important;
  }
  .col-11 {
    float: left;
    word-wrap: break-word;
    min-height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .offset-11 {
    margin-left: 100% !important;
  }
}
.col-nr-1 {
  float: left;
  word-wrap: break-word;
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 8.33333333%;
}
.offset-nr-1 {
  margin-left: 8.33333333% !important;
}
.col-nr-2 {
  float: left;
  word-wrap: break-word;
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 16.66666667%;
}
.offset-nr-2 {
  margin-left: 16.66666667% !important;
}
.col-nr-3 {
  float: left;
  word-wrap: break-word;
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.offset-nr-3 {
  margin-left: 25% !important;
}
.col-nr-4 {
  float: left;
  word-wrap: break-word;
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 33.33333333%;
}
.offset-nr-4 {
  margin-left: 33.33333333% !important;
}
.col-nr-5 {
  float: left;
  word-wrap: break-word;
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 41.66666667%;
}
.offset-nr-5 {
  margin-left: 41.66666667% !important;
}
.col-nr-6 {
  float: left;
  word-wrap: break-word;
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.offset-nr-6 {
  margin-left: 50% !important;
}
.col-nr-7 {
  float: left;
  word-wrap: break-word;
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 58.33333333%;
}
.offset-nr-7 {
  margin-left: 58.33333333% !important;
}
.col-nr-8 {
  float: left;
  word-wrap: break-word;
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 66.66666667%;
}
.offset-nr-8 {
  margin-left: 66.66666667% !important;
}
.col-nr-9 {
  float: left;
  word-wrap: break-word;
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.offset-nr-9 {
  margin-left: 75% !important;
}
.col-nr-10 {
  float: left;
  word-wrap: break-word;
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 83.33333333%;
}
.offset-nr-10 {
  margin-left: 83.33333333% !important;
}
.col-nr-11 {
  float: left;
  word-wrap: break-word;
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 91.66666667%;
}
.offset-nr-11 {
  margin-left: 91.66666667% !important;
}
img.circle {
  border-radius: 50%;
}
img.rounded {
  border-radius: 6px;
}
img.thumbnail {
  border-radius: 2px;
}
img.hover {
  opacity: 0.7;
}
img.hover:hover {
  opacity: 1;
}
img.border {
  padding: 1px;
}
img.fit {
  max-width: 100%;
}
.brackets a {
  cursor: pointer;
}
.brackets a::before,
.brackets a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: transform 0.3s, opacity 0.2s;
  -moz-transition: transform 0.3s, opacity 0.2s;
  -ms-transition: transform 0.3s, opacity 0.2s;
  -o-transition: transform 0.3s, opacity 0.2s;
}
.brackets a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
}
.brackets a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  -o-transform: translateX(-20px);
}
.brackets a:hover::before,
.brackets a:hover::after,
.brackets a:focus::before,
.brackets a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}
.brackets a.active:before,
.brackets a.active:after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}
.loader.topBar {
  background: rgba(0, 0, 0, 0.2);
  height: 0.2em;
  left: 0;
  position: fixed;
  top: 0;
  z-index: -1;
  -webkit-transition: width 0.3s ease-in;
  -moz-transition: width 0.3s ease-in;
  -ms-transition: width 0.3s ease-in;
  -o-transition: width 0.3s ease-in;
}
.loader.circle {
  position: relative;
  cursor: default;
  point-events: none;
  text-shadow: none !important;
  color: transparent !important;
}
.loader.circle:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: -0.64285em 0em 0em -0.64285em;
  width: 1.2857em;
  height: 1.2857em;
  border-radius: 500rem;
  border: 0.2em solid rgba(0, 0, 0, 0.2);
}
.loader.circle:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: -0.64285em 0em 0em -0.64285em;
  width: 1.2857em;
  height: 1.2857em;
  -webkit-animation: spin 0.7s linear 0s infinite;
  -moz-animation: spin 0.7s linear 0s infinite;
  -ms-animation: spin 0.7s linear 0s infinite;
  border-radius: 500rem;
  border-color: #ffffff transparent transparent;
  border-style: solid;
  border-width: 0.2em;
  box-shadow: 0px 0px 0px 1px transparent;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
/* Standard syntax */
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.corner-left {
  left: 0;
  -webkit-transform: translateX(-100%) translateY(-100%) rotate(45deg);
  -moz-transform: translateX(-100%) translateY(-100%) rotate(45deg);
  -ms-transform: translateX(-100%) translateY(-100%) rotate(45deg);
  -o-transform: translateX(-100%) translateY(-100%) rotate(45deg);
}
.corner-left.animate {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader.corner {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 350px;
  background: #999999;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  -webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
  -moz-transform: translateX(100%) translateY(-100%) rotate(45deg);
  -ms-transform: translateX(100%) translateY(-100%) rotate(45deg);
  -o-transform: translateX(100%) translateY(-100%) rotate(45deg);
  pointer-events: none;
}
.loader.corner.animate {
  -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(50%) translateY(-50%) rotate(45deg);
  -o-transform: translateX(50%) translateY(-50%) rotate(45deg);
}
.loader.corner * {
  position: absolute;
  bottom: 30%;
  width: 100%;
  text-align: center;
}
.loader.corner-left {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 350px;
  background: #999999;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  -webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
  -moz-transform: translateX(100%) translateY(-100%) rotate(45deg);
  -ms-transform: translateX(100%) translateY(-100%) rotate(45deg);
  -o-transform: translateX(100%) translateY(-100%) rotate(45deg);
  pointer-events: none;
  left: 0;
  -webkit-transform: translateX(-100%) translateY(-100%) rotate(45deg);
  -moz-transform: translateX(-100%) translateY(-100%) rotate(45deg);
  -ms-transform: translateX(-100%) translateY(-100%) rotate(45deg);
  -o-transform: translateX(-100%) translateY(-100%) rotate(45deg);
}
.loader.corner-left.animate {
  -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(50%) translateY(-50%) rotate(45deg);
  -o-transform: translateX(50%) translateY(-50%) rotate(45deg);
}
.loader.corner-left * {
  position: absolute;
  bottom: 30%;
  width: 100%;
  text-align: center;
}
.loader.corner-left.animate {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.double-circle:before,
.double-circle:after {
  position: relative;
  left: 50%;
  display: block;
  border: 5px solid #ffffff;
  border-radius: 50%;
  content: '';
}
.double-circle:before {
  position: absolute;
  margin-left: -40px;
  width: 80px;
  height: 80px;
  border-right-color: #339af0;
  border-left-color: #339af0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  -webkit-animation: rotation 3s linear infinite 300ms ease 0 infinite;
  -moz-animation: rotation 3s linear infinite 300ms ease 0 infinite;
  -ms-animation: rotation 3s linear infinite 300ms ease 0 infinite;
  -webkit-animation: rotation 3s linear infinite;
  -moz-animation: rotation 3s linear infinite;
  -ms-animation: rotation 3s linear infinite;
}
.double-circle:after {
  position: absolute;
  margin-left: -20px;
  margin-top: 20px;
  width: 40px;
  height: 40px;
  border-top-color: #339af0;
  border-bottom-color: #339af0;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-animation: rotation 1s linear infinite 300ms ease 0 infinite;
  -moz-animation: rotation 1s linear infinite 300ms ease 0 infinite;
  -ms-animation: rotation 1s linear infinite 300ms ease 0 infinite;
  -webkit-animation: rotation 1s linear infinite;
  -moz-animation: rotation 1s linear infinite;
  -ms-animation: rotation 1s linear infinite;
}
.table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
}
.table thead tr th,
.table.bordered tr th {
  border-bottom: 2px solid #ccc;
  vertical-align: center;
  padding: 8px;
}
.table tbody tr td {
  border-top: 1px solid #ccc;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: center;
}
.table.condensed {
  width: auto;
}
.table.striped tbody tr:nth-child(2n+1) {
  background-color: #f5f5f5;
}
.table.bordered td,
.table.bordered th {
  border: 1px solid #ccc;
}
.table.hover tbody tr:hover,
.table.hover-td tbody tr td:hover {
  background-color: #eee;
}
.table.inverse {
  border: 0 !important;
}
.table.inverse.striped tbody tr:nth-child(2n+1),
.table.inverse.hover tbody tr:hover,
.table.inverse.hover-td tbody tr td:hover {
  background-color: #333;
}
@media (max-width: 768px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
.muted {
  color: #999999;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-big {
  font-size: 1.2em;
}
.text-xbig {
  font-size: 1.4em;
}
.text-bold {
  font-size: bold;
}
.modal {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed;
  background-color: rgba(200, 200, 200, 0.8);
  z-index: 1000;
  display: none;
}
.modal .modal-content {
  width: 650px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  outline: 0 none;
  position: relative;
  margin: 30px auto;
  padding: 10px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}
.modal.sm .modal-content {
  width: 350px ;
}
.modal .modal-header {
  border-bottom: 1px solid #ddd;
  margin: 2px;
  padding: 10px;
}
.modal .modal-header * {
  margin: 0px !important;
}
.modal .modal-header .modal-close {
  margin-top: -10px !important;
  float: right;
}
.modal .modal-body {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
}
.modal .modal-footer {
  text-align: right;
  padding: 10px;
  border-top: 1px solid #ddd;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.bottom {
  bottom: 0px;
}
.top {
  top: 0px;
}
.left {
  left: 0px;
}
.right {
  right: 0px;
}
.no-float {
  float: none !important;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
.overflow-x-scroll {
  overflow-x: scroll;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
.display-inline {
  display: inline;
}
.display-inline-block {
  display: inline-block;
}
.z-index-max {
  z-index: 999;
}
.full {
  height: 100%;
  width: 100%;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.margin-sides-auto {
  margin-left: auto;
  margin-right: auto;
}
.no-padding {
  padding: 0px;
}
.padding {
  padding: 4px;
}
.padding-top {
  padding: 8px 0px 0px 0px;
}
.padding-bottom {
  padding: 0px 0px 8px 0px;
}
.padding-left {
  padding: 0px 0px 0px 8px;
}
.padding-right {
  padding: 0px 8px 0px 0px;
}
.padding-sides {
  padding: 0px 8px;
}
.padding-topbottom {
  padding: 8px 0px;
}
.bigPadding {
  padding: 16px;
}
.bigPadding-top {
  padding: 32px 0px 0px 0px;
}
.bigPadding-bottom {
  padding: 0px 0px 32px 0px;
}
.bigPadding-left {
  padding: 0px 0px 0px 32px;
}
.bigPadding-right {
  padding: 0px 32px 0px 0px;
}
.bigPadding-sides {
  padding: 0px 32px;
}
.bigPadding-topbottom {
  padding: 32px 0px;
}
.no-margin {
  margin: 0px;
}
.margin {
  margin: 4px;
}
.margin-top {
  margin: 8px 0px 0px 0px;
}
.margin-bottom {
  margin: 0px 0px 8px 0px;
}
.margin-left {
  margin: 0px 0px 0px 8px;
}
.margin-right {
  margin: 0px 8px 0px 0px;
}
.margin-sides {
  margin: 0px 8px;
}
.margin-topbottom {
  margin: 8px 0px;
}
.bigMargin {
  margin: 16px;
}
.bigMargin-top {
  margin: 32px 0px 0px 0px;
}
.bigMargin-bottom {
  margin: 0px 0px 32px 0px;
}
.bigMargin-left {
  margin: 0px 0px 0px 32px;
}
.bigMargin-right {
  margin: 0px 32px 0px 0px;
}
.bigMargin-sides {
  margin: 0px 32px;
}
.bigMargin-topbottom {
  margin: 32px 0px;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #777;
  background: #000;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Coustard', serif;
  color: #fff;
  font-weight: normal;
  letter-spacing: 1px;
}
h1 {
  padding: 0;
  margin: 0;
}
h5 {
  padding: 0;
  margin: 0;
  color: #b7b7b7;
}
a {
  color: #b7b7b7;
  text-decoration: none;
  font-weight: normal;
}
a:hover {
  text-decoration: underline;
}
.gradient {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}
.show {
  display: block;
}
.hide {
  opacity: 0;
}
/* Set Page Elements */
#logo {
  font-family: 'Coustard', serif;
  font-size: 49px;
  bottom: 40px;
  height: auto;
  left: 40px;
  position: absolute;
  width: 20%;
  z-index: 1000;
  color: #fff;
}
.main-nav {
  position: absolute;
  bottom: 23px;
  left: 210px;
  z-index: 1001;
}
.main-nav ul li {
  list-style: none;
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
  border-left: 1px solid #b7b7b7;
}
.main-nav ul li a.active {
  color: #339AF0;
}
.social-nav {
  position: absolute;
  top: 0px;
  left: 40px;
  z-index: 3;
}
.social-nav a {
  list-style: none;
  display: block;
  float: left;
  background: #393939;
  padding: 100px 10px 5px 10px;
  margin: 1px;
  opacity: .5;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
}
.social-nav a:hover {
  opacity: 1;
  padding-top: 120px;
}
button full-screen {
  position: absolute;
  top: 0;
  right: 0;
  width: 31px;
  height: 31px;
  background: url("../images/full-screen-btn.png");
  border: 0;
  cursor: pointer;
  opacity: .7;
}
button full-screen:hover {
  opacity: 1;
}
.slider-arrow {
  bottom: 30px;
  height: 42px;
  position: absolute;
  right: 40px;
  width: 42px;
  z-index: 1000;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
#arrow_left {
  right: 95px;
}
.full-back {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  bottom: 0px;
}
.backImage div {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  bottom: 0px;
}
.backImage div img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 1;
}
.backImage div .gradient {
  z-index: 2;
}
.ea-navigation {
  font-size: 1.3em;
  z-index: 3;
  position: absolute;
  bottom: 0px;
  left: 30px;
  overflow-y: hidden;
}
.ea-navigation a {
  padding: 8px 0;
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #eee;
  text-decoration: none;
  cursor: pointer;
}
.ea-navigation a:hover,
.ea-navigation a.active {
  text-decoration: none;
  color: #26d4d1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.ea-navigation a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -webkit-transform 0.3s;
  -ms-transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
}
.ea-navigation a:hover::after,
.ea-navigation a:focus::after,
.ea-navigation a.active::after {
  opacity: 1;
  background: #26d4d1;
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
}
.content {
  position: absolute;
  top: 200px;
  left: 0;
  padding-left: 35px;
  z-index: 3;
  width: 100%;
  height: 63%;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
}
.content.ng-enter,
.content.ng-leave {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  -ms-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
}
.content.ng-enter {
  left: 100%;
}
.content.ng-enter.ng-enter-active {
  left: 0px;
}
.content.ng-leave.ng-leave-active {
  left: -100%;
}
.ea-tecnologies-imgs img {
  width: 100px;
}
.items {
  list-style-type: none;
  padding: 0;
  position: relative;
  height: 70%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 90%;
}
.items li {
  width: 8.3333%;
  padding-left: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
.items li img {
  width: 100%;
}
.tecnology {
  cursor: pointer;
}
.tecnology span {
  position: absolute;
  top: 30%;
  width: 100%;
  color: #eee;
  font-weight: bold;
}
.tecnology div {
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.tecnology:hover div {
  opacity: 1;
}
.diagonal {
  -webkit-transform: skewX(-25deg);
  -moz-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  -o-transform: skewX(-25deg);
  background-color: #26d4d1;
}
.diagonal .normalize,
.diagonal:before {
  -webkit-transform: skewX(25deg);
  -moz-transform: skewX(25deg);
  -ms-transform: skewX(25deg);
  -o-transform: skewX(25deg);
}
.diagonal .normalize:hover,
.diagonal:before:hover {
  outline: none;
}
.diagonal:before {
  margin-left: 5px;
}
.home-navigation {
  margin-left: -37px;
  margin-top: 14px;
  text-align: right;
}
.home-navigation a {
  display: block;
  padding-left: 100px;
  background: #393939;
  padding: 5px 10px 5px 100px;
  margin: 1px;
  opacity: .5;
  text-decoration: none;
  cursor: pointer;
  width: 270px;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
}
.home-navigation a:hover {
  opacity: 1;
  width: 290px;
  padding-left: 120px;
}
.navbar {
  background: #393939;
}
.ea-navigation a.slideNav {
  display: none;
}
@media (max-width: 360px) {
  .ea-navigation {
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
    background-color: #242a30;
    display: block;
    overflow: auto;
    z-index: 999;
    width: 100%;
    position: absolute;
    background: #393939;
    min-height: 37px;
  }
  .ea-navigation.fixed {
    position: fixed;
  }
  .ea-navigation .navbar-form {
    padding-left: 25px;
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
    margin: 0;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ea-navigation .navbar-form.navbar-right {
    float: right;
    padding-right: 25px;
  }
  .ea-navigation .navbar-form input {
    display: inline-block;
    text-decoration: none;
    padding: 6px 12px;
    font-size: 14px;
    cursor: auto;
    vertical-align: middle;
  }
  .ea-navigation .navbar-form input.form-slideLeft {
    width: 0;
    opacity: 0;
  }
  .ea-navigation .navbar-form input.form-slideLeft.active {
    width: 150px;
    opacity: 1;
  }
  .ea-navigation .navbar-form button {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    vertical-align: middle;
  }
  .ea-navigation .navbar-form button.show-animate {
    display: inline-block;
  }
  .ea-navigation ul {
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
    margin: 0px;
    float: left;
    padding-left: 0;
  }
  .ea-navigation ul.navbar-right {
    float: right;
    padding-right: 25px;
  }
  .ea-navigation ul:after,
  .ea-navigation ul:before {
    clear: both;
  }
  .ea-navigation ul li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    margin: 0;
    line-height: 50px;
    font-size: 14px;
    cursor: pointer;
    color: #777777;
  }
  .ea-navigation ul li:hover a {
    color: #ffffff;
  }
  .ea-navigation ul li.slide-nav {
    display: none;
  }
  .ea-navigation ul li.slide-nav i {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }
  .ea-navigation ul li.active {
    background-color: #2d353c;
  }
  .ea-navigation ul li.active a {
    color: #ffffff;
  }
  .ea-navigation ul li.active a::before,
  .ea-navigation ul li.active a::after,
  .ea-navigation ul li.active a::before,
  .ea-navigation ul li.active a::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  .ea-navigation ul li.button {
    display: none;
  }
  .ea-navigation ul li.navbar-user img {
    width: 25px;
    height: 25px;
    margin: -5px 10px 0 0;
    vertical-align: middle;
    border: 0;
  }
  .ea-navigation ul li a {
    text-decoration: none;
    color: #777777;
    padding: 0px 15px;
    line-height: 50px;
    display: block;
  }
  .ea-navigation ul li a::before,
  .ea-navigation ul li a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: transform 0.3s, opacity 0.2s;
    -moz-transition: transform 0.3s, opacity 0.2s;
    -ms-transition: transform 0.3s, opacity 0.2s;
    -o-transition: transform 0.3s, opacity 0.2s;
  }
  .ea-navigation ul li a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
  }
  .ea-navigation ul li a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
  }
  .ea-navigation ul li a:hover::before,
  .ea-navigation ul li a:hover::after,
  .ea-navigation ul li a:focus::before,
  .ea-navigation ul li a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  .ea-navigation ul li.header {
    width: 240px;
    background-color: #1166ab;
  }
  .ea-navigation ul li.header a {
    color: #ffffff;
    font-size: 1.2em;
  }
  .ea-navigation ul li.header a:hover::before,
  .ea-navigation ul li.header a:hover::after,
  .ea-navigation ul li.header a:focus::before,
  .ea-navigation ul li.header a:focus::after {
    opacity: 0;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  .ea-navigation a {
    display: block;
    margin: .1em .05em;
    padding: 4px 15px;
    padding-bottom: 7px;
  }
  .ea-navigation a:not(.slideNav) {
    display: none;
  }
  .ea-navigation a.showing {
    display: block;
  }
  .ea-navigation a.slideNav {
    text-align: right;
    position: absolute;
    top: 0;
    right: 12px;
    display: block;
  }
  .ea-navigation a.slideNav:after {
    display: none;
  }
  .ea-navigation a:after {
    width: 40%;
  }
  .content {
    top: 144px;
    height: 68%;
  }
  .slider-arrow img {
    width: 50%;
  }
  #arrow_left {
    right: 38px;
  }
  .slider-arrow {
    bottom: 5px;
    position: absolute;
    right: 3px;
  }
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
  .items li {
    width: 16.666%;
    padding-left: 2px;
  }
  .items {
    width: 100%;
  }
}
