<h1 class="">Tecnologies used</h1>

<nav class="brackets bigPadding-left">
    <a ng-class="{active: (filtering=='')}" ng-click="noFilter()">All</a>
    <a ng-class="{active: (filtering=='web')}" ng-click="filter('web')">Web</a>
    <a ng-class="{active: (filtering=='desk')}" ng-click="filter('desk')">Desktop</a>
    <a ng-class="{active: (filtering=='app')}" ng-click="filter('app')">Apps</a>
    <a ng-class="{active: (filtering=='db')}" ng-click="filter('db')">DB</a>
    <a ng-class="{active: (filtering=='deploy')}" ng-click="filter('deploy')">Deployment</a>
    <a ng-class="{active: (filtering=='security')}" ng-click="filter('security')">Security</a>
    <a ng-class="{active: (filtering=='os')}" ng-click="filter('os')">System administration</a>
    <a ng-class="{active: (filtering=='design')}" ng-click="filter('design')">Design</a>
</nav>
<ul class="items no-filt" data-block-filter data-cols=12>
    <li ng-repeat="tecnology in tecnologies" data-position="{{tecnology.position}}" data-group="{{tecnology.filter}}" class="container tecnology" ng-hide="tecnology.hide">
        <img ng-src="images/tecnologies/{{tecnology.img}}">
        <div>
            <span class="text-center">{{tecnology.name}}</span>
        </div>
    </li>
</ul>

<script>
</script>